header.header
    .header__wrapper
        .header__column
            a(href="/")
                i.fab.fa-youtube
        .header__column
            form(action="/search", method="get")
                input(type="text", name="searchingBy", placeholder="Search Video")
        .header__column
            ul
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login