.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
}

.form-container form input:not([type="file"]) {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-container form input:not([type="file"]):not(last-child) {
    margin-bottom: 25px;
}

.form-container form textarea {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 25px;
}