.header {
    background-color: red;
    margin-bottom: 50px;
}

.header .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header__column i {
    color: white;
    font-size: 30px;
}

.header__column:nth-child(2) {
    width: 100%;
    justify-self: center;
}

.header__column:last-child() {
    justify-self: end;
}

.header__column ul {
    display: flex;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.header__column ul li:not(:last-child) {
    margin-right: 15px;
}

.header__column form {
    width: 100%;
}

.header__column form input {
    padding: 7px 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    color: black;
    font-weight: 600;
    max-width: none;
}